<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container">
    <h3>Update User Field</h3>
    <form th:action="@{/api/v1/demo/users/{id}(id=${userId})}" method="patch">
        <div class="mb-3"><label>User ID</label><input class="form-control" name="id" required></div>
        <div class="mb-3"><label>Field to Update</label><input class="form-control" name="path" required></div>
        <div class="mb-3"><label>New Value</label><input class="form-control" name="value" required></div>
        <input type="hidden" name="op" value="replace" />
        <button type="submit" class="btn btn-warning">Update User</button>
    </form>
</div>
</body>
</html>
